@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  font-family: "Poppins";
}

body{
  font-family: "Poppins";
  overflow-x: hidden;
}

.shadow {
  box-shadow: 0px 0px 12px 0px #20b52652;
}

.decoration {
  text-decoration: line-through;
}

#priceRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove WebKit's default styling */
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #10b981; /* Tailwind green-500 */
  cursor: pointer;
  position: relative;
  top: 0px; /* Center thumb vertically */
}

#priceRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #10b981; /* Tailwind green-500 */
  cursor: pointer;
}

#priceRange::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #10b981; /* Tailwind green-500 */
  cursor: pointer;
}

#overflow::-webkit-scrollbar{
  visibility: none;
  display: none;
}